body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/logo1.jpg"); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{ 
  height: 100%; 
}
 
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 23rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  justify-content: center;
 }
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-container button{
  cursor: pointer;
  padding: 0.3rem;

}
.card{
  display: flex;
  justify-content: center;
}
.review-list{ 
  width: 500px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  word-wrap: break-word;
}
 
 .back-to-result{
   display:block;
    font-weight: bold;
   font-size: larger;
   margin: 0.5rem;  
   margin-left: 0.6rem;
   animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
 }

 a:hover{
   color: red;
 }

 .go-to-review{
   display: block;
   margin-top: -1rem;
    font-weight: bold;
   font-size: large; 
   animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
 } 
 .movieReview{
   font-size: large;
 }  
.text-danger{
  color: #ffbb00;
}
 
 .go-back{    
   position: absolute;
   top:40%;
   right:47.7%;
   text-align: center;   
   margin-top: -1.3rem;
   margin-left: 0.6rem;
   font-size: larger;  
   animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;  
  }
  
 .updateReview{  
  display: flex;
  justify-content: center; 

 }
 .flash {
   
   position: absolute;
   top:30%;  
}

@keyframes flash {
   from {color: red;}
   to {color: black;}
}